<div class="form-group k" ng-switch-when="date" ng-class="field.Active ? 'active-field' : '' ">
    <input type="text" style="border: none; padding:0" class="input-as-label-item" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" />

    <span ng-if="field.GetFieldSetting('Required').Value" class="text-danger">[
        required ]</span>

    <input type="hidden" ng-if="field.GetFieldSetting('Required').Value" name="required" value="1">

    <div class="has-feedback">
        <input type="text" class="form-control" placeholder="Enter Your {{field.Name}} Ex: 01/01/2024">
        <span class="glyphicon glyphicon-calendar form-control-feedback custom-feedback" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
    </div>

    <i class="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active" ng-click="removeElement($index)"></i>
</div>

<div class="form-group" ng-switch-when="textarea" ng-class="field.Active ? 'active-field' : '' ">
    <input style="border: none; padding:0" type="text" class="input-as-label-item" ng-model="field.Name" value="{{field.Name + (field.GetFieldSetting('Required').Value ? '*': '')}}" ng-change="field.ChangeFieldSetting(field.Name,'Field Label')" />
    <span ng-if="field.GetFieldSetting('Required').Value" class="text-danger">[
        required ]</span>
    <textarea class="form-control" id="{{field.Name.replace(' ','_')  + field.id}}" rows="1"></textarea>
    <i class="fa fa-lg fa-minus-square-o remove-ico" ng-if="field.Active" ng-click="removeElement($index)"></i>
</div>
<div ng-switch-default>
</div>